
/* Some common styles for the transition effect */
.te-next{
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}
a.te-next:active{
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.te-container select:focus{
	outline: none;
}

.te-wrapper{
	position: relative;
	width: 350px;
	height: 350px;
}
.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}
.te-wrapper{
	display: block;
    margin-left: auto;
    margin-right: auto 
}