@import url(http://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans);

#amazingaudioplayer-1 {
	box-sizing: content-box;
	display: block;
	position: relative;
	background-color: #f1f1f1;
	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
    	border-radius: 4px;
	margin: 0px;
	padding: 0px;
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

#amazingaudioplayer-1 div {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;   
}

#amazingaudioplayer-1 .amazingaudioplayer-image {
	display: block;
	position: relative;
	margin: 0;
	padding 0;
	overflow: hidden;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#amazingaudioplayer-1 .amazingaudioplayer-image img {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#amazingaudioplayer-1 .amazingaudioplayer-image-clear {
}

#amazingaudioplayer-1 .amazingaudioplayer-text {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 180px;
	height: 60px;
	text-align: center;
	z-index: 1;
}

#amazingaudioplayer-1 .amazingaudioplayer-text-clear {
}

#amazingaudioplayer-1 .amazingaudioplayer-title {
	display: block;
	color: #333;
	padding: 8px 24px 0px;
	font-family: "Noto Sans",Arial,sans-serif;
	font-size: 15px;
	font-weight: bold;
}

#amazingaudioplayer-1 .amazingaudioplayer-title-clear {
}

#amazingaudioplayer-1 .amazingaudioplayer-info {
	display: block;
	color: #555;
	padding: 2px 24px;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-style: italic;
}

#amazingaudioplayer-1 .amazingaudioplayer-info-clear {
}

#amazingaudioplayer-1 .amazingaudioplayer-bar {
	display: block;
	position: relative;
	width: 100%;
	height: 120px;
	background-color: #fbfaf6;
	background-image: -moz-linear-gradient(top,  #fbfaf6 0%, #d7d5cd 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfaf6), color-stop(100%,#d7d5cd)); 
	background-image: -webkit-linear-gradient(top,  #fbfaf6 0%,#d7d5cd 100%); 
	background-image: -o-linear-gradient(top,  #fbfaf6 0%,#d7d5cd 100%);
	background-image: -ms-linear-gradient(top,  #fbfaf6 0%,#d7d5cd 100%);
	background-image: linear-gradient(to bottom,  #fbfaf6 0%,#d7d5cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf6', endColorstr='#d7d5cd',GradientType=0 );
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#amazingaudioplayer-1 .amazingaudioplayer-bar-buttons-clear {
}

#amazingaudioplayer-1 .amazingaudioplayer-bar-clear {
	clear: both;
}

#amazingaudioplayer-1 .amazingaudioplayer-bar-title {
}

#amazingaudioplayer-1 .amazingaudioplayer-playpause {
	position: absolute;
	left: 50%;
	margin-left: -24px;
	top: 64px;
}

#amazingaudioplayer-1 .amazingaudioplayer-play {
	position: relative;
}

#amazingaudioplayer-1 .amazingaudioplayer-pause {
	position: relative;
}

#amazingaudioplayer-1 .amazingaudioplayer-stop {
	position: relative;
	float: left;
}

#amazingaudioplayer-1 .amazingaudioplayer-prev {
	position: absolute;
	left: 50%;
	margin-left: -72px;
	top: 64px;
}

#amazingaudioplayer-1 .amazingaudioplayer-next {
	position: absolute;
	left: 50%;
	margin-left: 24px;
	top: 64px;
}

#amazingaudioplayer-1 .amazingaudioplayer-loop {
	position: absolute;
	top: 78px;
	left: 50%;
	margin-left: 72px;
}

#amazingaudioplayer-1 .amazingaudioplayer-progress {
	position: absolute;
	left: 0px;	
	top: -8px;
	background-color: #dad6b4;
	width: 100%;
}

#amazingaudioplayer-1 .amazingaudioplayer-progress-loaded {
	background-color: #bab49a;
}

#amazingaudioplayer-1 .amazingaudioplayer-progress-played {
	background-color: #fcc500;
	background-image: -ms-linear-gradient(top, #fede00 0%, #fcc500 100%);
	background-image: -moz-linear-gradient(top, #fede00 0%, #fcc500 100%);
	background-image: -o-linear-gradient(top, #fede00 0%, #fcc500 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fede00), color-stop(1, #fcc500));
	background-image: -webkit-linear-gradient(top, #fede00 0%, #fcc500 100%); 
	background-image: linear-gradient(to bottom, #fede00 0%, #fcc500 100%);
}

#amazingaudioplayer-1 .amazingaudioplayer-time {
	position: absolute;
	top: 78px;
	left: 8px;
	color: #434548;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 24px;
	margin: 0 4px;
}

#amazingaudioplayer-1 .amazingaudioplayer-volume {
	position: absolute;
	top: 78px;
	left: 50%;
	margin-left: 100px;
	z-index: 2;
}

#amazingaudioplayer-1 .amazingaudioplayer-volume-bar {
	background-color: #d5cea6;
	background-image: -moz-linear-gradient(-45deg,  #d5cea6 0%, #c9c190 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d5cea6), color-stop(100%,#c9c190));
	background-image: -webkit-linear-gradient(-45deg,  #d5cea6 0%,#c9c190 100%);
	background-image: -o-linear-gradient(-45deg,  #d5cea6 0%,#c9c190 100%);
	background-image: -ms-linear-gradient(-45deg,  #d5cea6 0%,#c9c190 100%);
	background-image: linear-gradient(135deg,  #d5cea6 0%,#c9c190 100%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#amazingaudioplayer-1 .amazingaudioplayer-volume-bar-adjust {
	background-color: #bab49a;
}

#amazingaudioplayer-1 .amazingaudioplayer-volume-bar-adjust-active {
	background-color: #666;
}

#amazingaudioplayer-1 .amazingaudioplayer-tracklist {
	display: block;
	position: relative;
	margin-top: 4px;
}

#amazingaudioplayer-1 .amazingaudioplayer-tracklist-container {
	display: block;
	position: relative;
	-webkit-border-radius: 4px;
   	 -moz-border-radius: 4px;
    	border-radius: 4px;
	padding: 12px 12px 16px;
	background-color: #fbfaf6;
	background-image: -ms-linear-gradient(top, #fbfaf6 0%, #d7d5cd 100%);
	background-image: -moz-linear-gradient(top, #fbfaf6 0%, #d7d5cd 100%);
	background-image: -o-linear-gradient(top, #fbfaf6 0%, #d7d5cd 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbfaf6), color-stop(1, #d7d5cd));
	background-image: -webkit-linear-gradient(top, #fbfaf6 0%, #d7d5cd 100%);
	background-image: linear-gradient(to bottom, #fbfaf6 0%, #d7d5cd 100%);
}

#amazingaudioplayer-1 .amazingaudioplayer-tracks-wrapper {
	position: relative;
}

#amazingaudioplayer-1 .amazingaudioplayer-tracks {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#amazingaudioplayer-1 .amazingaudioplayer-track-item {
	position: relative;
	cursor: pointer;
	color: #666;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-align: left;
}

#amazingaudioplayer-1 .amazingaudioplayer-track-item-active {
	cursor: pointer;
	color: #222;
}

#amazingaudioplayer-1 .amazingaudioplayer-track-item a {
	color: #666;
    text-decoration: none;
}

#amazingaudioplayer-1 .amazingaudioplayer-track-item-active a {
	color: #222;
    text-decoration: none;
}

#amazingaudioplayer-1 .amazingaudioplayer-track-item-duration {
	position: absolute;
	top: 0;
	right: 0;
}

#amazingaudioplayer-1 .amazingaudioplayer-tracklist-arrow-prev {
	position: absolute;
	bottom: 2px;
	left: 50%;
	margin-left: -64px;
}

#amazingaudioplayer-1 .amazingaudioplayer-tracklist-arrow-next {
	position: absolute;
	bottom: 2px;
	left: 50%;
	margin-left: 16px;
}

#amazingaudioplayer-1 .amazingaudioplayer-tracklist-clear {
	clear: both;
}

